<app-loading *ngIf="loading"></app-loading>


<div *ngIf="!loading" class="row animated fadeIn">
    <div class="col-2">
        <img [src]="artist.images | noimage" class="img-thumbnail">
    </div>
    <div class="col-4">
        <h1>{{ artist.name }}</h1>
        <p>
            <a [href]="artist.external_urls.spotify" target="_blank">Go to artist page</a>
        </p>
    </div>
    <div class="col-6">
        <button [routerLink]="['/home']" routerLinkActive="router-link-active" class="btn btn-outline-danger">
            Back to home
        </button>
    </div>

</div>
<div *ngIf="!loading" class="row m-5 animated fadeIn fast" >
    <div class="col">
        <table class="table" style="color: aliceblue;">
            <thead>
                <th>Foto</th>
                <th>Album</th>
                <th>Canción</th>
                <th>Preview</th>
            </thead>
            <tbody>
                <tr *ngFor="let track of artistTopTracks" >
                    <td><img [src]="track.album.images | noimage" height="30px" width="30px"></td>
                    <td>{{ track.album.name }}</td>
                    <td>{{ track.name }}</td>
                    <td>
                        <audio [src]="track.preview_url" controls></audio>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>